[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/miroir"]
	path = external/miroir
	url = https://m6v.ru/git/miroir
[submodule "external/poost"]
	path = external/poost
	url = https://m6v.ru/git/poost
